// element loading
.fullscreen-loading{
    i{
      font-size:  35px !important;
    }
}

a{
    text-decoration: none !important;
    display: block !important;
}

.el-select-dropdown.el-popper{
  z-index: 9999999999 !important;
}

